html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
}

.matrix {
	font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 1001px) {
	.matrix {
		max-width: 50vw;
		max-height: 75vh;
		overflow: auto;
	}
}

.flex-container > * {
	margin-right: 3rem;
}

* {
	box-sizing: border-box;
}

.matrix-row {
	display: flex;
}

.matrix-col {
	padding: 16px;
	text-align: center;
}

.obstacle {
	color: white;
	background-color: black !important;
}

.path {
	color: black;
	background-color: white;
}

.source {
	background-color: red !important;
	color: white !important;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.destination {
	background-color: green !important;
	color: white !important;
}

.error-message {
	color: red !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 25px;
}

p {
	margin-top: 4px;
	margin-bottom: 8px;
}

textarea[name='matrix'] {
	display: block;
	width: 300px;
	height: 120px;
	max-width: 400px;
	max-height: 240px;
}

@media (max-width: 1000px) {
	.flex-container {
		flex-wrap: wrap-reverse;
	}
	.flex-container > * {
		margin-right: 0;
	}
}

@media (max-width: 552px) {
	.matrix-col {
		padding: 8px;
	}
}

@media (max-width: 376px) {
	.matrix-col {
		padding: 4px;
	}
}

@media (max-width: 300px) {
	.matrix-col {
		padding: 2px;
	}
	textarea[name='matrix'] {
		width: 200px;
	}
}

@media (max-width: 255px) {
	.matrix-col {
		padding: 0px;
	}
}

label {
	margin: 5px 10px 5px 0;
}

button,
input[type='reset'] {
	border: 2px solid grey;
	text-align: center;
	cursor: pointer;
	padding: 6px;
}

button:hover,
input[type='reset']:hover {
	background-color: rgb(230, 229, 231);
}

.button-list-row {
	display: flex;
	flex-flow: row wrap;
}

.button-list-row > button,
input[type='reset'] {
	margin-right: 1rem;
}

label {
	display: inline-block;
}

input[type='text'],
textarea {
	font-family: 'Hack', 'Consolas', 'Courier New', Courier, monospace;
	padding: 8px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

hr {
	border-top: 1px solid rgb(200, 201, 199);
	opacity: 0.85;
}

div.input-field {
	margin: 4px 0 4px 0;
}
